In [49]:
import pandas as pd

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import f1_score
from sklearn.preprocessing import OneHotEncoder 
import numpy as np

In [3]:
df = pd.read_csv('../data/WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [5]:
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [6]:
col = df.columns
col

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [59]:
new_col =['gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod']

In [25]:
enc = OneHotEncoder(categories='auto').fit(df[new_col])
enc.categories_

[array(['Female', 'Male'], dtype=object),
 array([0, 1], dtype=int64),
 array(['No', 'Yes'], dtype=object),
 array(['No', 'Yes'], dtype=object),
 array(['No', 'Yes'], dtype=object),
 array(['No', 'No phone service', 'Yes'], dtype=object),
 array(['DSL', 'Fiber optic', 'No'], dtype=object),
 array(['No', 'No internet service', 'Yes'], dtype=object),
 array(['No', 'No internet service', 'Yes'], dtype=object),
 array(['No', 'No internet service', 'Yes'], dtype=object),
 array(['No', 'No internet service', 'Yes'], dtype=object),
 array(['No', 'No internet service', 'Yes'], dtype=object),
 array(['No', 'No internet service', 'Yes'], dtype=object),
 array(['Month-to-month', 'One year', 'Two year'], dtype=object),
 array(['No', 'Yes'], dtype=object),
 array(['Bank transfer (automatic)', 'Credit card (automatic)',
        'Electronic check', 'Mailed check'], dtype=object),
 array(['No', 'Yes'], dtype=object)]

In [116]:
encoder = OneHotEncoder(sparse=True, handle_unknown='ignore')

# Fit the encoder to the specified columns
encoded_df = pd.get_dummies(df[new_col], columns=new_col)

# Print the encoded DataFrame
encoded_df

,gender_Female,gender_Male,SeniorCitizen_0,SeniorCitizen_1,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,PhoneService_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,True,False,True,False,False,True,True,False,True,False,...,False,True,False,False,False,True,False,False,True,False
1,False,True,True,False,True,False,True,False,False,True,...,False,False,True,False,True,False,False,False,False,True
2,False,True,True,False,True,False,True,False,False,True,...,False,True,False,False,False,True,False,False,False,True
3,False,True,True,False,True,False,True,False,True,False,...,False,False,True,False,True,False,True,False,False,False
4,True,False,True,False,True,False,True,False,False,True,...,False,True,False,False,False,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,False,True,True,False,False,True,False,True,False,True,...,True,False,True,False,False,True,False,False,False,True
7039,True,False,True,False,False,True,False,True,False,True,...,True,False,True,False,False,True,False,True,False,False
7040,True,False,True,False,False,True,False,True,True,False,...,False,True,False,False,False,True,False,False,True,False
7041,False,True,False,True,False,True,True,False,False,True,...,False,True,False,False,False,True,False,False,False,True
7042,False,True,True,False,True,False,True,False,False,True,...,True,False,False,True,False,True,True,False,False,False

In [118]:
new_df = pd.concat([encoded_df, df], axis=1)
new_df = new_df.drop(columns = new_col)
for i in new_df.columns[:-5]:
    # print(new_df[i] == True)
    new_df[i] = np.where(new_df[i] == True, 1, 0)
new_df

,gender_Female,gender_Male,SeniorCitizen_0,SeniorCitizen_1,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,PhoneService_Yes,...,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,customerID,tenure,MonthlyCharges,TotalCharges,Churn
0,1,0,1,0,0,1,1,0,1,0,...,1,0,0,1,0,7590-VHVEG,1,29.85,29.85,No
1,0,1,1,0,1,0,1,0,0,1,...,0,0,0,0,1,5575-GNVDE,34,56.95,1889.5,No
2,0,1,1,0,1,0,1,0,0,1,...,1,0,0,0,1,3668-QPYBK,2,53.85,108.15,Yes
3,0,1,1,0,1,0,1,0,1,0,...,0,1,0,0,0,7795-CFOCW,45,42.30,1840.75,No
4,1,0,1,0,1,0,1,0,0,1,...,1,0,0,1,0,9237-HQITU,2,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,1,1,0,0,1,0,1,0,1,...,1,0,0,0,1,6840-RESVB,24,84.80,1990.5,No
7039,1,0,1,0,0,1,0,1,0,1,...,1,0,1,0,0,2234-XADUH,72,103.20,7362.9,No
7040,1,0,1,0,0,1,0,1,1,0,...,1,0,0,1,0,4801-JZAZL,11,29.60,346.45,No
7041,0,1,0,1,0,1,1,0,0,1,...,1,0,0,0,1,8361-LTMKD,4,74.40,306.6,Yes
7042,0,1,1,0,1,0,1,0,0,1,...,1,1,0,0,0,3186-AJIEK,66,105.65,6844.5,No

In [119]:
new_df.drop(columns=['customerID'], inplace=True)
new_df

,gender_Female,gender_Male,SeniorCitizen_0,SeniorCitizen_1,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,PhoneService_Yes,...,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure,MonthlyCharges,TotalCharges,Churn
0,1,0,1,0,0,1,1,0,1,0,...,0,1,0,0,1,0,1,29.85,29.85,No
1,0,1,1,0,1,0,1,0,0,1,...,1,0,0,0,0,1,34,56.95,1889.5,No
2,0,1,1,0,1,0,1,0,0,1,...,0,1,0,0,0,1,2,53.85,108.15,Yes
3,0,1,1,0,1,0,1,0,1,0,...,1,0,1,0,0,0,45,42.30,1840.75,No
4,1,0,1,0,1,0,1,0,0,1,...,0,1,0,0,1,0,2,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,1,1,0,0,1,0,1,0,1,...,0,1,0,0,0,1,24,84.80,1990.5,No
7039,1,0,1,0,0,1,0,1,0,1,...,0,1,0,1,0,0,72,103.20,7362.9,No
7040,1,0,1,0,0,1,0,1,1,0,...,0,1,0,0,1,0,11,29.60,346.45,No
7041,0,1,0,1,0,1,1,0,0,1,...,0,1,0,0,0,1,4,74.40,306.6,Yes
7042,0,1,1,0,1,0,1,0,0,1,...,0,1,1,0,0,0,66,105.65,6844.5,No

In [120]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 47 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   gender_Female                            7043 non-null   int32
 1   gender_Male                              7043 non-null   int32
 2   SeniorCitizen_0                          7043 non-null   int32
 3   SeniorCitizen_1                          7043 non-null   int32
 4   Partner_No                               7043 non-null   int32
 5   Partner_Yes                              7043 non-null   int32
 6   Dependents_No                            7043 non-null   int32
 7   Dependents_Yes                           7043 non-null   int32
 8   PhoneService_No                          7043 non-null   int32
 9   PhoneService_Yes                         7043 non-null   int32
 10  MultipleLines_No                         7043 non-null   int32
 11  MultipleLines_No phone service           7043 non-null   int32
 12  MultipleLines_Yes                        7043 non-null   int32
 13  InternetService_DSL                      7043 non-null   int32
 14  InternetService_Fiber optic              7043 non-null   int32
 15  InternetService_No                       7043 non-null   int32
 16  OnlineSecurity_No                        7043 non-null   int32
 17  OnlineSecurity_No internet service       7043 non-null   int32
 18  OnlineSecurity_Yes                       7043 non-null   int32
 19  OnlineBackup_No                          7043 non-null   int32
 20  OnlineBackup_No internet service         7043 non-null   int32
 21  OnlineBackup_Yes                         7043 non-null   int32
 22  DeviceProtection_No                      7043 non-null   int32
 23  DeviceProtection_No internet service     7043 non-null   int32
 24  DeviceProtection_Yes                     7043 non-null   int32
 25  TechSupport_No                           7043 non-null   int32
 26  TechSupport_No internet service          7043 non-null   int32
 27  TechSupport_Yes                          7043 non-null   int32
 28  StreamingTV_No                           7043 non-null   int32
 29  StreamingTV_No internet service          7043 non-null   int32
 30  StreamingTV_Yes                          7043 non-null   int32
 31  StreamingMovies_No                       7043 non-null   int32
 32  StreamingMovies_No internet service      7043 non-null   int32
 33  StreamingMovies_Yes                      7043 non-null   int32
 34  Contract_Month-to-month                  7043 non-null   int32
 35  Contract_One year                        7043 non-null   int32
 36  Contract_Two year                        7043 non-null   int32
 37  PaperlessBilling_No                      7043 non-null   int32
 38  PaperlessBilling_Yes                     7043 non-null   int32
 39  PaymentMethod_Bank transfer (automatic)  7043 non-null   int32
 40  PaymentMethod_Credit card (automatic)    7043 non-null   int32
 41  PaymentMethod_Electronic check           7043 non-null   int32
 42  PaymentMethod_Mailed check               7043 non-null   int32
 43  tenure                                   7043 non-null   int64
 44  MonthlyCharges                           7043 non-null   float64
 45  TotalCharges                             7043 non-null   object
 46  Churn                                    7043 non-null   object
dtypes: float64(1), int32(43), int64(1), object(2)
memory usage: 1.4+ MB

In [121]:
new_df['TotalCharges'] = new_df['TotalCharges'].replace(' ', 0)
new_df['TotalCharges'].value_counts()

TotalCharges
0         11
20.2      11
19.75      9
20.05      8
19.9       8
          ..
6849.4     1
692.35     1
130.15     1
3211.9     1
6844.5     1
Name: count, Length: 6531, dtype: int64

In [122]:
new_df['Churn']

0        No
1        No
2       Yes
3        No
4       Yes
       ...
7038     No
7039     No
7040     No
7041    Yes
7042     No
Name: Churn, Length: 7043, dtype: object

In [123]:
new_df['Churn'] = np.where(new_df['Churn'] == 'Yes', 1, 0)
new_df

,gender_Female,gender_Male,SeniorCitizen_0,SeniorCitizen_1,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,PhoneService_Yes,...,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure,MonthlyCharges,TotalCharges,Churn
0,1,0,1,0,0,1,1,0,1,0,...,0,1,0,0,1,0,1,29.85,29.85,0
1,0,1,1,0,1,0,1,0,0,1,...,1,0,0,0,0,1,34,56.95,1889.5,0
2,0,1,1,0,1,0,1,0,0,1,...,0,1,0,0,0,1,2,53.85,108.15,1
3,0,1,1,0,1,0,1,0,1,0,...,1,0,1,0,0,0,45,42.30,1840.75,0
4,1,0,1,0,1,0,1,0,0,1,...,0,1,0,0,1,0,2,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,1,1,0,0,1,0,1,0,1,...,0,1,0,0,0,1,24,84.80,1990.5,0
7039,1,0,1,0,0,1,0,1,0,1,...,0,1,0,1,0,0,72,103.20,7362.9,0
7040,1,0,1,0,0,1,0,1,1,0,...,0,1,0,0,1,0,11,29.60,346.45,0
7041,0,1,0,1,0,1,1,0,0,1,...,0,1,0,0,0,1,4,74.40,306.6,1
7042,0,1,1,0,1,0,1,0,0,1,...,0,1,1,0,0,0,66,105.65,6844.5,0

In [124]:
data = new_df.iloc[:, :-1]
labels = new_df.iloc[:, -1]

In [125]:
data

,gender_Female,gender_Male,SeniorCitizen_0,SeniorCitizen_1,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,PhoneService_Yes,...,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure,MonthlyCharges,TotalCharges
0,1,0,1,0,0,1,1,0,1,0,...,0,0,1,0,0,1,0,1,29.85,29.85
1,0,1,1,0,1,0,1,0,0,1,...,0,1,0,0,0,0,1,34,56.95,1889.5
2,0,1,1,0,1,0,1,0,0,1,...,0,0,1,0,0,0,1,2,53.85,108.15
3,0,1,1,0,1,0,1,0,1,0,...,0,1,0,1,0,0,0,45,42.30,1840.75
4,1,0,1,0,1,0,1,0,0,1,...,0,0,1,0,0,1,0,2,70.70,151.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,1,1,0,0,1,0,1,0,1,...,0,0,1,0,0,0,1,24,84.80,1990.5
7039,1,0,1,0,0,1,0,1,0,1,...,0,0,1,0,1,0,0,72,103.20,7362.9
7040,1,0,1,0,0,1,0,1,1,0,...,0,0,1,0,0,1,0,11,29.60,346.45
7041,0,1,0,1,0,1,1,0,0,1,...,0,0,1,0,0,0,1,4,74.40,306.6
7042,0,1,1,0,1,0,1,0,0,1,...,1,0,1,1,0,0,0,66,105.65,6844.5

In [126]:
labels

0       0
1       0
2       1
3       0
4       1
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: Churn, Length: 7043, dtype: int32

In [136]:
score = cross_val_score(DecisionTreeClassifier(), data, labels, scoring='f1_macro')

print(score.mean())

0.6548390386281314